mat-card {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  button {
    width: 100%;
  }
  

  .general-error {
    display: block;
    color: red;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
  }
  