<mat-toolbar color="primary">
  <span class="spacer"></span>
  <button mat-button routerLink="/">Inicio</button>
  <button mat-button routerLink="/clases">Clases</button>
  <button *ngIf="isLoggedIn" mat-button routerLink="/reservas">Reservas</button>
  <button *ngIf="!isLoggedIn" mat-button routerLink="/login">Login</button>
  <button *ngIf="!isLoggedIn" mat-button routerLink="/register">Registrarse</button>
  <button *ngIf="isLoggedIn" mat-button routerLink="/perfil">Perfil</button>
  <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="footer">
  <mat-card class="footer-card">
    <mat-card-content>
      <div class="contact-info">
        <p><mat-icon>phone</mat-icon> Teléfono: <a href="tel:+1234567890">+123 456 7890</a></p>
        <p><mat-icon>email</mat-icon> Email: <a href="mailto:contacto@gymfit.com">contactogymfit.com</a></p>
      </div>
    </mat-card-content>
  </mat-card>
</footer>