<section class="hero">
  <mat-card class="hero-card">
    <mat-card-header>
      <mat-card-title>¡Bienvenido a GymFit!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Transforma tu vida con nuestras clases y entrenamientos personalizados.</p>
      <button mat-raised-button color="primary" routerLink="/clases">Explora Clases</button>

      <p class="hero-text">¿Listo para comenzar tu viaje hacia una vida más saludable?</p>
      <button mat-raised-button color="accent" routerLink="/register">Regístrate Ahora</button>
      
    </mat-card-content>
  </mat-card>
</section>


